@font-face {
    font-family: myFirstFont;
    src: url(font/cairo-v10-arabic-regular.ttf);
}
:root {
    --first-color: #31365c;
    --second-color: #3a416f;
    --third-color: #5468ff;
    --fourth-color: #49528d;
    --fivth-color: #49528d;
}
body {
    background-color: #ffffff;
    font-family:myFirstFont;
}
.Text{
    color: #0c63e4;
    font-size: 17px;
}
button.bootbox-close-button.close {
    border: 0;
    background: #aaa0;
    font-size: 33px;
}

#New {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ffffff;
    bottom: 20px;
    left: 20px;
    top: auto;
    position: fixed;
    z-index: 150;
    text-align: center;
    box-shadow: 0 0 9px 0px #0c23d378;
}

#New a i {
    color: var(--third-color);
    font-size: 30px;
    line-height: 45px;
}



.navbar a {
    /*margin: 14px;*/
    color: #f1f1f1;
}

nav {
    background-color: var(--first-color);
}

li i .dropdown ::before {
    transform: rotate(-135deg);
    top: 1.2rem;
}

.Ul {
    display: none;
    font-size: 13px;
}

nav ul {
    list-style: none;
    position: relative;
    display: inline-table;
}

nav ul li:hover > ul {
    display: block;
}

ul li a {
    color:#ffffff ;
    margin: 10px;
}
div .dropdown a{
    color:var(--fourth-color) ;
}

div .dropdown a:hover{
    color:var(--third-color) ;
}

ul li a:hover {
    color: #d6d6d6;
}

table tbody tr td a {
    color: var(--fourth-color);
}

table tbody tr td a:hover {
    color: var(--fourth-color);
}

.row #sidebarMenu {
    background-color:var(--first-color);
}

.button:hover {
    background-color: var(--fourth-color);
}

.card {
    width: 82%;
    margin-right: 35px;
    margin-top: 10%;
}

.card .card-header {
    background-color: #f9f9f9;
}

.card table {
    background-color: #f9f9f9;
    color: var(--fourth-color);
}

.btn {
    color: var(--fourth-color);
}

.btn:hover {
    color: #f1f1f1;
    background-color: var(--second-color);
}

#btn{
    color: var(--second-color);
    background-color:#ffffff ;
    height: 37px;
    font-size: 15px;
}
#btn:hover{
    color:#ffffff;
    background-color:var(--second-color);
    height: 37px;
    font-size: 15px;
}

h1 {
    color: var(--fourth-color);
}

h4 , h6{
    color: var(--third-color);
}

table thead {
    color: var(--third-color);
}


label , p {
    color: var(--fivth-color);
}


a:hover{
    text-decoration:none;
}

.select2-selection__rendered {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.select2-selection__rendered:focus , .select2-container--default .select2-search--dropdown .select2-search__field:focus, .select2-container--default .select2-search--dropdown .select2-search__field:focus-visible{
    background-color: #fff;
    border-color: #80bdff;
    color: #495057;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #0a0909 transparent transparent transparent;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: .25rem;
}
select.form-control {
    padding-top: 2px;
}


form.input-search {
    position: relative;
}
.input-search > input {
    border-radius: 40px;
}


form.input-search > button {
    border: 0;
    background: #aaa0;
    outline: none;
    position: absolute;
    left: 0;
    top: 0;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057 !important;
}

.list-group-flush>.list-group-item {
    background: #aaa0;
}

div .dropdown .list-group-item{
    padding: .5rem 1rem !important;
    color: #ced5ff;
    text-decoration: none;
    background-color: var(--second-color);
}
div .dropdown .list-group-item:hover{
    color: #FFF;
}
.container-fluid > .navbar-toggler:focus {

    box-shadow: none;
    color: #FFF;
}

.navbar-expand-lg .navbar-collapse {
    display: flow-root !important;
}
.navbar-expand-lg .navbar-nav {
    display: block;
    flex-wrap: inherit;
    display: flex !important;
    justify-content: flex-end !important;
}
h1.border-bottom.scrollbox-gh {
    text-align: center;
    padding-top: 29vh;
    display: inline-block;
}

